<!--content-->

    <link rel="stylesheet" href="__PUBLIC__/outCss/index.css"/>
            <div id="main" style="margin-left:90px;" >
                <div id="info" class="inside">
                    <div class="info_in">
                        <h1>系统说明<span></span></h1>
                        <div>
                            <p><strong class='green'>当前版本:</strong> <strong>约一炮后门 V1.0</strong></p>
                            <p >若有任何疑问，请联系 <strong>隆妹子</strong></p>
                        </div>
                    </div>
                    <div class="info_in">
                        <h1>系统信息<span></span></h1>
                        <div>
                            <p ><strong class='green'>PHP程序版本：</strong><strong><?php echo PHP_VERSION;?></strong></p>
                            <p ><strong class='green'>MYSQL 版本：</strong><strong><?php echo mysql_get_server_info();?> </strong></p>
                           <p ><strong class='green'>服务器端信息: </strong><strong>Apache </strong></p>
                            <p ><strong class='green'>最大上传限制：</strong> <strong><?php echo ini_get("file_uploads") ? ini_get("upload_max_filesize") : "Disabled";?></strong></p>
                            <p ><strong class='green'>最大执行时间：</strong><strong><?php echo ini_get("max_execution_time")."秒";?></strong></p>
                            <p ><strong class='green'>服务器所在时间：</strong><strong><?php echo date("Y-m-d H:i:s", time());?></strong></p>
                            <p ><strong class='green'>服务器系统：</strong><strong><?php echo php_uname();?></strong></p>
                            <p ><strong class='green'>服务器语言：</strong><strong><?php echo $_SERVER['HTTP_ACCEPT_LANGUAGE'];?></strong></p>
                            <p ><strong class='green'>服务器端口：</strong><strong><?php echo $_SERVER['SERVER_PORT'];?></strong></p>
                        </div>
                    </div>
                    <div class="info_in">
                        <h1>开发团队<span></span></h1>
                        <div>
                            <p><strong class='green'>系统开发： </strong><strong>重庆邮电大学红岩网校工作站</strong></p>
                        </div>
                    </div>
                </div>
<!--end-->           